.subscription__wrapper {
  padding-bottom: 10px;
}

.subscription {
  background-image: url(../img/subscription_bg.png);
  text-align: center;
  padding-top: 14px;
  margin-top: -1px;
  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: $textLightColor;
    font-family: $mainFont;
    margin-bottom: 32px;
  }
}

.price-plan {
  display: flex;
  flex-direction: column;
  background-color: rgba($color: #ffffff, $alpha: 0.06);
  margin-top: 18px;
  &__name {
    font-size: 24px;
    color: $textLightColor;
    text-transform: uppercase;
    background-color: rgba($color: #ffffff, $alpha: 0.06);
    padding: 36px 0;
    margin-bottom: 30px;
  }
  &__price {
    font-size: 60px;
    color: $textLightColor;
    margin-bottom: 20px;
  }
  &__period {
    font-size: 14px;
    text-transform: uppercase;
    color: $textLightColor;
    margin-bottom: 30px;
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 5px;
      background-color: $accentColor;
      margin: auto;
      margin-top: 36px;
    }
  }
  &__type {
    line-height: 28px;
    color: $textLightColor;
    margin-bottom: 37px;
    padding: 0 55px;
  }
}

.price-plan-cost {
  font-weight: 700;
}

.price-plan--selected {
  background-color: rgba($color: #463048, $alpha: 0.8);
  margin: {
    left: -5px;
    right: -5px;
  }
  &__name {
    background-color: rgba($color: #000000, $alpha: 0.11);
  }
  &__price {
    font-size: 82px;
  }
}

@media (min-width: $tabletWidth) {
.subscription {
  padding-top: 88px;
  &__title {font-size: 42px;
  }
}

  .subscription__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 153px;
  }
  .price-plan {
    width: 45%;
    margin-top: 71px;
  }
  .price-plan--selected {
    width: 49%;
    margin: 20px 0 -40px -35px;
    &__name {
      padding: 43px 0;
    }
    &__price {
      font-size: 82px;
    }
  }
}

@media (min-width: $desktopWidth) {
  .subscription   {
    padding-top: 212px;
    &__title {font-size: 48px;
    }
  }
  .subscription__wrapper {
    padding-bottom: 149px;
  }
  .price-plan {
    width: 48%;
  }

  .price-plan--selected {
    margin: 30px 0 -40px 0;
  }
}
