
.header {
  text-align: center;
  padding-bottom: 416px;
  margin-bottom: 117px;
  height: 100%;
  font-family: $mainFont;
  background: url(../../dist/img/close-up-judges-gavel.jpg);
  background-position: right;
  background-size: cover;

  &__title {
    margin-bottom: 19px;
    font-size: 48px;
    font-weight: bold;
    color: $textLightColor;
  }
  &__sub-title {
    padding: 0 31px;
    font-size: 18px;
    line-height: 24px;
    color: $accentColor;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 14px;
    text-transform: uppercase;
    color: #848e97;
  }
  &__trial-period {
    position: relative;
    top: 463px;
    font-size: 14px;
    color: #848e97;
  }
  &__offer {
    position: relative;
    top: 15vh;
    left: 5vw;
    width: 90vw;
    
    padding: 7vh 10vw;
    //z-index: 1;
    background: rgba(255, 255, 255, 0.5);;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 25px; 
  }
  &__offer-text {
    margin-bottom: 15px;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  
  background-color: rgba(0, 0, 0, 0.6);
  &__logo {
    width: 40px;
    transform: scaleX(-1);
    
  }
  &__logo-text {
    position: relative;
    left: -10px;
    width: 30vw;
    
  }
  &__link {
    margin-right: calc(50% - 150px);
    // &:active .nav__logo {
    //   display: none;
    // }
    // &:active .nav__logo--hover {
    //   display: block;
    //   margin-bottom: 2.5px;
    // }
  }
  // &__logo--hover {
  //   display: none;
  // }
  // &__logo-text {
  //   display: none;
  // }
  // &__link--bottom {
  //   display: none;
  // }
  &__viber {
    width: 55px;
    //margin-right: 0.7vw;
  }
}
.burger-button {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: absolute;
  z-index: 2;
  top: 86px;
  left: 4%;
  width: 100%;
  height: auto;
  text-align: start;
  padding-bottom: 14px;
  font-size: 26px;
  color: $textLightColor;
  //background: $backgroundGrayColor;
  background: rgba(0, 0, 0, 0.6);
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0ms;

  &.js-animate {
    width: 92%;
    transform: scaleY(1);
    transition: 150ms;
  }
  &__item {
    margin-top: 19px;
    padding-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 11px;
    padding-left: 35px;

    &:active {
      padding-left: 27px;
      border-left: solid 8px $accentColor;
      color: $accentColor;
    }
  }
}
.btn:active {
  background-color: $textLightColor;
  color: $accentColor;
  transition: 200ms;
}

.hidden {
  opacity: 0;
  transition: 150ms;
}

.wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (min-width: $tabletWidth) {
  .header {
    padding-bottom: 475px;
    margin-bottom: 135px;
    //background-position: right;
    &__title {
      font-size: 72px;
    }
    &__sub-title {
      margin-bottom: 19px;
      font-family: $textFont;
      font-size: 24px;
      text-transform: lowercase;
    }
    &__sub-title:first-letter {
      text-transform: uppercase;
    }
    &__trial-period {
      top: 528px;
    }
    &__offer {
      top: 10vh;
      left: 15vw;
      width: 70vw;
    }
  }
  .nav {
    //justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 69px;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-start;
    &__logo {
      margin-top: 12px;
    }

    &__logo-text {
      top: 6px;
      left: -5px;
      width: 108px;
      margin-top: 5px;
      
    }
    &__link {
      display: flex;
      align-items: center;
      margin-right: calc(100% - 265px);
      // &:active .nav__logo {
      // &:active .nav__logo--hover {
      //   display: block;
      //   margin-bottom: 0px;
      //   margin-right: 17px;
      // }
      // &:active .nav__logo-text {
      //   color: $textLightColor;
      // }
    }
    &__logo-text {
      display: block;
      font-size: 24px;
      color: $accentColor;
      text-transform: uppercase;
      
    }
    
  }
  .burger-button {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    display: flex;
    width: 100%;
    position: static;
    padding: 0px 10%;
    font-size: 14px;
    
    background-color: rgba(0, 0, 0, 0.0);
    //background-color: inherit;
    color: $accentColor;
    transform: scaleY(1);
    &__item {
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      color: $textLightColor;
      &:active {
        color: $textLightColor;
        padding-left: 0px;
        border-left: none;
        transition: 200ms;
      }
    }
    
  }


  .btn-download {
    top: 512px;
  }
  .btn-buy {
    //margin-top: 2.5px;
    margin-bottom: 10px;
  }
  // .menu-wrapper {
  //   display: flex;
  //   justify-content: space-between;
  //   //justify-content: space-between;
  // }

}

@media (min-width: 768px) {
  .menu {
    font-size: 16px;
    padding: 0px 16%;
    //background: rgba(0, 0, 0, 0.6);
    //background-color: inherit;
  }
  .nav {
    &__link {
      margin-right: calc(100% - 270px);
    }
  }
}

 @media (min-width: $desktopWidth) {
  

 }

// @media (min-width: $desktopWidth) {
//   .header {
//     padding-bottom: 462px;
//     margin-bottom: 129px;
//     &__title {
//       font-size: 82px;
//     }
//     &__sub-title {
//       font-size: 30px;
//     }
//     &__text {
//       font-size: 16px;
//     }
//     &__trial-period {
//       top: 515px;
//     }
//     .btn-buy {
//       order: 1;
//       margin-bottom: 0px;
//     }
//     button:hover {
//       background-color: $textLightColor;
//       color: $accentColor;
//       transition: 200ms;
//     }
//   }

//   .nav {
//     justify-content: start;
//     align-items: center;
//     flex-wrap: nowrap;
//     margin-bottom: 82px;
//     padding: 30px 90px;
//     background-color: rgba(39, 38, 42, 0);
//     &__link {
//       margin-right: calc(50% - 360px);
//       // &:hover .nav__logo {
//       //   display: none;
//       // }
//       // &:hover .nav__logo--hover {
//       //   display: block;
//       //   margin-bottom: 0px;
//       //   margin-right: 17px;
//       // }
//       // &:hover .nav__logo-text {
//       //   color: $textLightColor;
//       // }
//     }
//     .menu {
//       padding-left: 0px;
//       padding-right: 48px;
//       background-color: inherit;
//       &__item:hover {
//         color: $textLightColor;
//         transition: 200ms;
//       }
//     }
//   }
//   .btn-download {
//     top: 499px;
//   }
// }

@media (min-width: 1200px) {
  .header {
    //background-position: right;
    height: 100vh;
    &__offer {
      position: relative;
      top: 0.7vh;
      left: 4vw;
      width: 31vw;
      
      padding: 6vh 3vw;
      //z-index: 1;
      // background: rgba(255, 255, 255, 0.5);;
      // border-radius: 5px;
      // box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      font-size: 28px;
      line-height: 40px; 
    }
    &__offer-text {
      margin-bottom: 25px;
    }
  }
  .nav {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    
    &__link {
      //display: flex;
      position: absolute;
      top: 16px;
      //width: ;
    }
    // &__link--bottom {
    //   display: flex;
    // }
    &__viber {
      display: none;
    }
    
  }
  
  
  .menu__item {
    color: $textLightColor;
    font-size: 20px;
    //font-weight: bold;
  }
  .btn-buy {

    font-size: 20px;
  }

  // .menu-wrapper {
  //   display: flex;
  // }
}
