
.revo-editor {
  position: relative;
  overflow: hidden;
  text-align: center;
  &__title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $titleDarkColor;
    margin-bottom: 27px;
  }
  &__text {    
    font-size: 14px;
    margin-bottom: 36px;
  }
  &__sub-title {
    font-size: 32px;
    line-height: 38px;
    color: $accentColor;
    font-weight: bold;
    margin-bottom: 27px;
  }
  &__btn-block {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 700;
    height: 26px;
    border: solid 0.5px grey;
    border-radius: 2.5px;
    align-items: center;
    & img {
      height: 16px;
      width: 16px;
      padding-right: 5px;
    }
    &:last-child {
      margin-top: 24px;
    }
  }
}
.btn-block-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:auto;
  margin-bottom: 80px;
  width:90%;
}

.btn-with-count {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  height: 100%;
  border-right: solid 0.5px grey;
  padding: 0 8px;
  & span {
    position: relative;
    top: 1px;
  }
}

.click-count {
  padding: 0 5px;
}

.revo-editor-item {
  margin-bottom: 42px;
  &__title {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: normal;
    color: $textDarkColor;
  }
  & a {
    text-decoration: none;
  }
  &__text {
    font-size: 14px;
    font-family: $textFont;
    line-height: 21px;
    color: #848e97;
  }
  &__img {
    margin-bottom: 27px;
    height: 50px;
    width: 50px;
  }
}

.revo-editor-main-img {
  display: none;
}

@media (min-width: 380px) {
  .btn-block-wrapper {
    width:70%;
  }
}

@media (min-width: $tabletWidth) {
  .btn-block-wrapper {
    justify-content: center;
    margin-bottom: 160px;
    width: 100%;
  }

  .revo-editor {
    &__title {
      font-size: 42px;
      margin-bottom: 33px;
    }
    &__text {
      font-size: 21px;
      margin-bottom: 24px;
      color: $textDarkColor;
      line-height: 32px;
    }
    &__btn-block {
      margin: 0 5px;
      &:last-child {
        margin-top: 0px;
      }
    }
    &__sub-title {
      margin-bottom: 50px;
    }
  }
  .revo-editor-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__description {
      margin-left: 35px;
      text-align: left;
      width: 80%;
    }
    &__img {
      width: 80px;
      margin: auto;
    }
    &__text {
      font-family: $textFont;
    }
  }
  .revo-editor-main-img {
    position: relative;
    display: block;
    margin: auto;
    position: relative;
    top: 20%;
    border-radius: 0;
  }
}

@media (min-width: $desktopWidth) {
  .content {
    padding: 0 10px;
  }
  .btn-block-wrapper {
    margin-top: 13px;
    margin-bottom: 70px;
  }
  .revo-editor {
    &__title {
      font-size: 54px;
      margin-bottom: 35px;
    }
    &__text {
      width: 860px;
      margin: auto;
      font-family: $mainFont;
    }
    &__wrapper--dark-theme {
      background-color: $backgroundLightColor;
      padding-bottom: 71px;
    }
    &__description {
      padding-top: 98px;
      width: 40%;
    }
    &__sub-title {
      font-size: 48px;
      order: 1;
      padding-top: 8%;
      width: 60%;
      margin-left: 50px;
    }
  }
  .revo-editor-item {
    &__description {
      width: 70%; 
       }
    &__text {
        font-family: $mainFont;
       }
  }
  .content-wrapper {
    justify-content: space-between;
    display: flex;
    position: relative;
  }
  .revo-editor-main-img {
    position: relative;
    top: 300px;
    height: 70%;
    border-radius: 10% 0 10%;
    order: 2;
    position: absolute;
    left: 46.5%;
    bottom: 15px;
  }
}
