.process-steps {
  display: none;
  padding: 57px 0px 22px;
  text-align: center;
  //background: url(../img/gray-concrete-wall.jpg);
  background-image: url(../img/subscription_bg.png);
  background-position: bottom;
  background-size: cover;
  font-family: $textFont;
  color: $textLightColor;
  &__title {
    margin-bottom: 53px;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    font-family: $mainFont;
  }
  &__item-logo {
    display: block;
    margin-bottom: 22px;
  }
  &__item {
    margin-bottom: 45px;
    padding: 0px 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 24px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__description {
    padding: 37px 27px 10px;
    font-size: 14px;
    line-height: 21px;
    color: $textMiddleColor;
     &:after {
      display: block;
      content: "";
      position: relative;
      top: 22px;
      left: 1%;
      width: 98%;
      height: 2px;
      background-color: #645766;
    }
  }
  
}

@media (min-width: $tabletWidth) {
  .process-steps {
    
    padding: 86px 0px 20px;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }
    &__title {
      font-size: 42px;
    }
    &__item {
      margin-bottom: 60px;
      width: 45%;
    }
    &__description {
      padding-top: 7px;
      padding-bottom: 0px;
      &:after {
        width: 78%;
        left: 11%;
        top: 16px;
      }
    }
  }
}


@media (min-width: $desktopWidth) {
  .process-steps {
    display: block;
    height: 300px;
    padding: 75px 0px 19px;
    
    &__title {
      font-weight: bold;
    font-size: 48px;
    line-height: 42px;
    color: $textLightColor;
    font-family: $mainFont;
    margin-bottom: 120px;
    }
    &:after {
      display: block;
      content: "";
      position: relative;
      top: 60px;
      left: 5%;
      width: 90%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
    }
    &__item {
      margin-bottom: 113px;
      width: 31%;
    }
    &__description {
      padding: 6px 160px 0px;
      &:after {
        width: 78%;
        left: 11%;
        top: 16px;
      }
    }
    &__button {
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 25px 30px;
      border: none;
      font-size: 18px;
      
    }
  }
  .wrapper-button {
    //position: relative;
    display: inline-flex;
    
    
    
    &:after {
      display: block;
      content: "";
      position: relative;
      top: 30px;
      left: 1%;
      width: 24vh;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
  }
  .wrapper-people {
    margin-bottom: 50px;
  }

  .wrapper-people > .wrapper-button:last-child {
    &:after {
      display: none;
    }
 }
 .process-steps__test {
  
  display: flex;
  justify-content: space-between;
 }

 
 
 
}
