$mainFont:'Montserrat', sans-serif;
$textFont:'Lato', sans-serif;
$tabletWidth:481px;
$desktopWidth:993px;
$accentColor: black;
$titleDarkColor:#635C73;
$textLightColor:#FFFFFF;
$textMiddleColor: #A291A5;
$textDarkColor:#323232;
$backgroundGrayColor: #333333;
$backgroundLightColor: #f4f4f4;


